name: Close inactive issues
on:
  schedule:
    - cron: "0 12 * * *"

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/stale@v10
        with:
          any-of-labels: "question,invalid,wontfix"
          days-before-stale: -1
          days-before-issue-stale: 7
          days-before-issue-close: 0
          stale-issue-label: "stale"
          stale-issue-message: ""
          close-issue-message: "This issue was closed because it has been inactive for 7 days with no activity."
          repo-token: ${{ secrets.GITHUB_TOKEN }}
